	<% include ../header %>
	<main style="padding-top:85px;">
			<!--Main layout-->
		
			<div class="container">

	<!--Page heading-->
			
				<div class="row">
					<div class="col-md-12">
						<h3 class="h3-responsive"> 
							<small class="text-muted">Python --> 4. Basic Data Types</small>
						</h3>
					
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/python">Pyhton</a></li>
							<li class="breadcrumb-item active">4.1. Data types</li>
						</ol>
				
					</div>
				</div>

				<div class="row">
					<!--First column-->
					<div class="col-md-3 unit-section">
						<!--Card-->
						<div class="card  z-depth-2">
					
						<!--Card Gradient-->
							<div class="gradient" style="height:80px;padding-top:20px;">
										 Index
							
									<div class="mask"></div>
							
							</div>
							<!--/.Card Gradient---->

							<!--Card content-->
	<div class="card-block pad" >
	<div class="row ">
	
	<div class="col-md-12">

			<p><a href="/python/data_types" style="color:#356BC3;" title="Data Types"><strong>4.1. Data types</strong> </a></p>
			<p><a href="/python/variables_literals" title="Variables and Literals">4.2. Variables and Literals</a></p>
			<p><a href="/python/more_on_strings" title="More on strings">4.3. More on strings</a></p>
			<p><a href="/python/type_conversion" title="Type conversions">4.4. Type conversions</a></p>
			<p><a href="/python/pp_3" title="Practise Problems">4.5. Practise Problems</a></p>
	</div>

							
							
								</div>
							</div>
							<!--/.Card content-->

						</div>
						<!--/.Card-->
					</div>
					<div class="col-md-9" >
					<div class="card  z-depth-2" >
				
					<div style="margin:10px 0px 0px 10px;">

					  <h3 class="h3-responsive"> 
							<small class="text-muted"> 4.1. Basic Data types </small>
						</h3>
					<hr>
					  <p>Type represents the kind of value and determines how the value can be used. All data values in Python are encapsulated in relevant object classes. Everything in Python is an object and every object has an identity, a type and a value.</p>

	<p>To determine a variable's type in Python you can use the type() function.</p>

	<p><strong>1.Boolean</strong></p>

	<p>In Python programming language, the Boolean datatype is a primitive datatype having one of two values: True or False.<br>
	Keyword bool is used for boolean data type.</p>

	<p>Examples of usage of boolean data type:<br>
	1.print bool(True)<br>
	2.print bool(False)<br>
	3.print bool("a")<br>
	4.print bool("")<br>
	5.print bool(' ')&nbsp; #space is literal here<br>
	6.print bool(0)<br>
	7.print bool()<br>
	8.print bool(3)<br>
	9.print bool(None)<br>
	10.print bool(3.0)</p>

	<p>Ans:<br>
	1.True<br>
	2.False<br>
	3.True<br>
	4.False<br>
	5.True<br>
	6.False<br>
	7.False<br>
	8.True<br>
	9.False<br>
	10.True</p>

	<p><strong>2.Number</strong></p>

	<p>In Python programming language, we have integer numbers, floating point numbers, and complex numbers.</p>

	<p>Here are some examples of these numbers,<br>
	integer: 103,-103</p>

	<p>Keyword int is used for integers.</p>

	<p>Long integer: 5678L (Long integers end with L)<br>
	Keyword long is used for long integer data type.</p>

	<p>float: 103.0<br>
	Keyword float is used for float data type.</p>

	<p>Complex : 3+4j<br>
	Keyword complex is used for complex data type.</p>

	<p><strong>3.String</strong><br>
	Strings in programming are simply text, either individual characters,words, phrases, or complete sentences.</p>

	<p>Keyword str is used for string data type</p>

	<p>Example:<br>
	string="Python"</p>

	<p><strong>4. None</strong><br>
	There is another special data type - None. Basically, this data type means non existent, not known or empty.</p>

				    
					
					  <div class="pull-right">
						<a href="/python/variables_literals" title="Variables and Literals"><span class="pull-right hidden-xs">Next <i class="fa fa-angle-right"></i> </span>    <div style="clear: right;" class="hidden-xs text-right">Variables and Literals</div> </a>
						<a href="/python/variables_literals" title="Variables and Literals"><div class="btn btn-sm btn-primary pull-right visible-xs">Next <i class="fa fa-angle-right"></i> </div></a>
					  </div>
					</div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>

