<% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

<!--Page heading-->
            
			<div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">Python --> Introduction</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/python">Pyhton</a></li>
						<li class="breadcrumb-item active">Introduction</li>
					</ol>
				
                </div>
            </div>

            <div class="row">
                <!--First column-->
                <div class="col-md-3 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:80px;padding-top:20px;">
									 Index
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
<div class="card-block pad" >
<div class="row ">
<div class="col-md-12">
 <p ><a href="/python/introduction" style="color:#356BC3;" title="Introduction">1.1.Introduction</a></p>

</div>

							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-9" >
				<div class="card  z-depth-2" >
				
				<div style="margin:10px 0px 0px 10px;">

                  <h3 class="h3-responsive">
              <small class="text-muted"> 1.1. Introduction </small></h3> 
				  <hr>
                  <p><strong>History of Python</strong></p>

<p>Python was developed by Guido van Rossum in the late eighties and early nineties at the National Research Institute for Mathematics and Computer Science in the Netherlands.<br>
Python is derived from many other languages, including ABC, Modula-3, C, C++, ALGOL-68, SmallTalk, and Unix shell and other scripting languages.<br>
Python is now maintained by a core development team at the institute, although Guido van Rossum still holds a vital role in directing its progress.</p>

<p><strong>Python features</strong></p>

<p>Python's feature highlights include:</p>

<ul>
	<li><strong>Easy-to-learn:</strong> Python has relatively few keywords, simple structure and a clearly defined syntax. This allows the student to pick up the language in a relatively short period of time.</li>
	<li><strong>Easy-to-maintain:</strong> Python's success is that its source code is fairly easy-to-maintain.</li>
	<li><strong>A broad standard library:</strong> One of Python's greatest strengths is the bulk of the library is very portable and cross-platform compatible on UNIX, Windows and Macintosh.</li>
	<li><strong>Interactive Mode:</strong> Support for an interactive mode in which you can enter results from a terminal right to the language, allowing interactive testing and debugging of snippets of code.</li>
	<li><strong>Portable:</strong> Python can run on a wide variety of hardware platforms and has the same interface on all platforms.</li>
	<li><strong>Expandable:</strong> You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</li>
	<li><strong>Databases:</strong> Python provides interfaces to all major commercial databases.</li>
	<li><strong>GUI Programming:</strong> Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh and the X Window system of Unix.</li>
	<li><strong>Scalable:</strong></li>
	<li style="margin-left: 40px;">Python provides a better structure and support for large programs than shell scripting.</li>
	<li style="margin-left: 40px;">Apart from the above-mentioned features, Python has a big list of good features, few are listed below:</li>
	<li style="margin-left: 40px;">Support for functional and structured programming methods as well as OOP.</li>
	<li style="margin-left: 40px;">It can be used as a scripting language or can be compiled to byte-code for building large applications.</li>
	<li style="margin-left: 40px;">Very high-level dynamic data types and supports dynamic type checking.</li>
	<li style="margin-left: 40px;">Supports automatic garbage collection.</li>
	<li style="margin-left: 40px;">It can be easily integrated with C, C++, ActiveX, CORBA and Java.</li>
</ul>

<p><strong>Available online interpreters</strong></p>

<p>Refer these links for online interpreters to execute python code,<br>
Link 1: <a href="http://codepad.org/" target="_blank">http://codepad.org/</a><br>
Link 2: <a href="http://www.pythontutor.com/visualize.html#mode=edit" target="_blank">http://www.pythontutor.com/visualize.html#mode=edit</a><br>
Link 3: <a href="http://www.codeskulptor.org/" target="_blank">http://www.codeskulptor.org/</a></p>

<p>A sample screen shot from pythontutor.com explaining execution of the program.</p>

<p><strong>Command line Interpreter</strong></p>

<p>Python has command line interpreter that helps in executing python commands by directly entering into python without writing a script.</p>

<p>Example:</p>

<p>If we type 1+2 the output would be 3.</p>

<p>The command line starts with &gt;&gt;&gt; symbol as shown in examples,<br>
&gt;&gt;&gt; 2 + 2<br>
4<br>
&gt;&gt;&gt; 50 - 5*6<br>
20<br>
&gt;&gt;&gt; (50 - 5*6) / 4.0<br>
5.0<br>
&gt;&gt;&gt; 8 / 5&nbsp; # division always returns a floating point number<br>
1.6<br>
&gt;&gt;&gt; width = 20<br>
&gt;&gt;&gt; height = 5 * 9<br>
&gt;&gt;&gt; width * height<br>
900</p>

<p><strong>Python on desktop</strong><br>
Refer to this link for downloading Python interpreter on your desktop.</p>

<p><a href="https://store.enthought.com/downloads/" target="_blank">https://store.enthought.com/downloads/</a></p>

              
                        
                     </div>   

                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



