<% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

<!--Page heading-->
            
			<div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">Learn Python Programming</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/python">Pyhton</a></li>
						<li class="breadcrumb-item active">First Program in Python</li>
					</ol>
				
                </div>
            </div>

            <div class="row">
                <!--First column-->
                <div class="col-md-3 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:80px;padding-top:20px;">
									 Index
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
<div class="card-block pad" >
<div class="row ">
<div class="col-md-12">



 <P><a href="/python/basic_operators" title="Basic operators">5.1. Basic operators</a></P>
 <p><a href="/python/operator_precedence" style="color:#356BC3;" title="Operator precedence" style="color:#30cfc0;">5.2. Operator precedence</a></P>
                      <p><a href="/python/pp_4" title="Practise Problems">5.3. Practise Problems</a></p>

</div>

							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-9" >
				<div class="card  z-depth-2" >
				
				<div style="margin:10px 0px 0px 10px;">

                  <h3 class="h3-responsive"> 
                        <small class="text-muted">  5.2. Operator precedence </small>
                    </h3>
                  <p>The following table lists all operators from highest precedence to lowest.</p>

<p style="text-align: center;"><img alt="" src="./5.2Operator precedence_files/content_1.png" style="height:364px; width:595px"></p>

<p><strong>Example:</strong><br>
Try the following example to understand operator precedence available in Python programming language :</p>

<p>#!/usr/bin/python<br>
a = 20<br>
b = 10<br>
c = 15<br>
d = 5<br>
e = 0</p>

<p>e = (a + b) * c / d&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #( 30 * 15 ) / 5<br>
print "Value of (a + b) * c / d is ",&nbsp; e</p>

<p>e = ((a + b) * c) / d&nbsp;&nbsp;&nbsp;&nbsp; # (30 * 15 ) / 5<br>
print "Value of ((a + b) * c) / d is ",&nbsp; e</p>

<p>e = (a + b) * (c / d);&nbsp;&nbsp;&nbsp; # (30) * (15/5)<br>
print "Value of (a + b) * (c / d) is ",&nbsp; e</p>

<p>e = a + (b * c) / d;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #&nbsp; 20 + (150/5)<br>
print "Value of a + (b * c) / d is ",&nbsp; e</p>

<p>When you execute the above program, it produces the following result:<br>
Value of (a + b) * c / d is 90<br>
Value of ((a + b) * c) / d is 90<br>
Value of (a + b) * (c / d) is 90<br>
Value of a + (b * c) / d is 50</p>

<p><strong>Problem Statement</strong></p>

<p>Consider values a,b,c,d,e .Now write a program to display output of (a*b+c)*e+d.<br>
Take sample values for a,b,c,d,e.</p>

<p><strong>Solution</strong><br>
a=4<br>
b=5<br>
c=4<br>
d=2<br>
e=6<br>
print ((a*b+c)*e+d)</p>

<p>The output of the above code is 146.</p>

               </div> 
                <div class="aspire-nav clearfix">
                  <div class="pull-left">
                    <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/basic-operators-0" title="Basic operators"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Basic operators</div></span></a>
                    <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/basic-operators-0" title="Basic operators"><div class="btn btn-success btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>
                  <div class="pull-right">
                    <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/practise-problems-30" title="Practise Problems"><span class="pull-right hidden-xs">Next <i class="fa fa-angle-right"></i> </span>    <div style="clear: right;" class="hidden-xs text-right">Practise Problems</div> </a>
                    <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/practise-problems-30" title="Practise Problems"><div class="btn btn-sm btn-success pull-right visible-xs">Next <i class="fa fa-angle-right"></i> </div></a>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    
  <!-- NOTE: DOUBT SECTION AHEAD (DO NOT MODIFY ANYTHING BELOW THIS) -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 margin-top-sm paddingReset col-lg-offset-1 aspire-comment-wrapper">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 paddingReset">          
            <div id="doubts_section">
<!--               
                <div class="doubt-container">
                </div>
               -->
            </div>

            <div id="askadoubt" class="margin-top-sm">
                <div class="h3 text-muted">Ask a Doubt:</div>
                <div class="well"><span style="color:#F44336;">Misuse</span> of <strong>'Ask a Doubt'</strong> Section will be dealt as per the Terms &amp; Conditions of Campus Commune<p><br>
                  <b>Note</b>: Please <strong>do not</strong> use the doubts section for any <span style="color:#F44336;">quiz/quiz-content</span> related queries. 
                  <br>
                  Use the <a class="pointer" data-toggle="modal" data-target="#feedbackModal" data-remote="true" href="https://campuscommune.tcs.com/feedbacks/new">helpline</a> (<i class="fa fa-lg fa-question-circle" style="color:#3571A5"></i>) located above in top right corner for problems/queries related to quizzes.
                  </p>
                </div>
              <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>

                
                <div class="form-group">
                  <textarea cols="40" id="doubt_data" name="doubt[data]" rows="20" style="visibility: hidden; display: none;"></textarea><div id="cke_doubt_data" class="cke_1 cke cke_reset cke_chrome cke_editor_doubt_data cke_ltr cke_browser_webkit" dir="ltr" lang="en" role="application" aria-labelledby="cke_doubt_data_arialbl"><span id="cke_doubt_data_arialbl" class="cke_voice_label">Rich Text Editor, doubt_data</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; -webkit-user-select: none;"><span id="cke_9" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_9" onmousedown="return false;"><span id="cke_12" class="cke_toolbar" aria-labelledby="cke_12_label" role="toolbar"><span id="cke_12_label" class="cke_voice_label">Basic Styles</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_13" class="cke_button cke_button__bold  cke_button_off" "="" href="javascript:void(&#39;Bold&#39;)" title="Bold" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(2,event);" onfocus="return CKEDITOR.tools.callFunction(3,event);" onmousedown="return CKEDITOR.tools.callFunction(4,event);" onclick="CKEDITOR.tools.callFunction(5,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -24px;background-size:auto;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span></a><a id="cke_14" class="cke_button cke_button__italic  cke_button_off" "="" href="javascript:void(&#39;Italic&#39;)" title="Italic" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(6,event);" onfocus="return CKEDITOR.tools.callFunction(7,event);" onmousedown="return CKEDITOR.tools.callFunction(8,event);" onclick="CKEDITOR.tools.callFunction(9,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -48px;background-size:auto;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span></a><a id="cke_15" class="cke_button cke_button__underline  cke_button_off" "="" href="javascript:void(&#39;Underline&#39;)" title="Underline" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(10,event);" onfocus="return CKEDITOR.tools.callFunction(11,event);" onmousedown="return CKEDITOR.tools.callFunction(12,event);" onclick="CKEDITOR.tools.callFunction(13,this);return false;"><span class="cke_button_icon cke_button__underline_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -144px;background-size:auto;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__underline_label" aria-hidden="false">Underline</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_16" class="cke_toolbar" aria-labelledby="cke_16_label" role="toolbar"><span id="cke_16_label" class="cke_voice_label">Paragraph</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_17" class="cke_button cke_button__numberedlist  cke_button_off" "="" href="javascript:void(&#39;Insert/Remove Numbered List&#39;)" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(14,event);" onfocus="return CKEDITOR.tools.callFunction(15,event);" onmousedown="return CKEDITOR.tools.callFunction(16,event);" onclick="CKEDITOR.tools.callFunction(17,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1368px;background-size:auto;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span></a><a id="cke_18" class="cke_button cke_button__bulletedlist  cke_button_off" "="" href="javascript:void(&#39;Insert/Remove Bulleted List&#39;)" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(18,event);" onfocus="return CKEDITOR.tools.callFunction(19,event);" onmousedown="return CKEDITOR.tools.callFunction(20,event);" onclick="CKEDITOR.tools.callFunction(21,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1320px;background-size:auto;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span></a><a id="cke_19" class="cke_button cke_button__blockquote  cke_button_off" "="" href="javascript:void(&#39;Block Quote&#39;)" title="Block Quote" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_19_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(22,event);" onfocus="return CKEDITOR.tools.callFunction(23,event);" onmousedown="return CKEDITOR.tools.callFunction(24,event);" onclick="CKEDITOR.tools.callFunction(25,this);return false;"><span class="cke_button_icon cke_button__blockquote_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -216px;background-size:auto;">&nbsp;</span><span id="cke_19_label" class="cke_button_label cke_button__blockquote_label" aria-hidden="false">Block Quote</span></a><a id="cke_20" class="cke_button cke_button__outdent cke_button_disabled " "="" href="javascript:void(&#39;Decrease Indent&#39;)" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(26,event);" onfocus="return CKEDITOR.tools.callFunction(27,event);" onmousedown="return CKEDITOR.tools.callFunction(28,event);" onclick="CKEDITOR.tools.callFunction(29,this);return false;"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1032px;background-size:auto;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__outdent_label" aria-hidden="false">Decrease Indent</span></a><a id="cke_21" class="cke_button cke_button__indent  cke_button_off" "="" href="javascript:void(&#39;Increase Indent&#39;)" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_21_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(30,event);" onfocus="return CKEDITOR.tools.callFunction(31,event);" onmousedown="return CKEDITOR.tools.callFunction(32,event);" onclick="CKEDITOR.tools.callFunction(33,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -984px;background-size:auto;">&nbsp;</span><span id="cke_21_label" class="cke_button_label cke_button__indent_label" aria-hidden="false">Increase Indent</span></a><a id="cke_22" class="cke_button cke_button__justifyleft  cke_button_off" "="" href="javascript:void(&#39;Align Left&#39;)" title="Align Left" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_22_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(34,event);" onfocus="return CKEDITOR.tools.callFunction(35,event);" onmousedown="return CKEDITOR.tools.callFunction(36,event);" onclick="CKEDITOR.tools.callFunction(37,this);return false;"><span class="cke_button_icon cke_button__justifyleft_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1128px;background-size:auto;">&nbsp;</span><span id="cke_22_label" class="cke_button_label cke_button__justifyleft_label" aria-hidden="false">Align Left</span></a><a id="cke_23" class="cke_button cke_button__justifycenter  cke_button_off" "="" href="javascript:void(&#39;Center&#39;)" title="Center" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(38,event);" onfocus="return CKEDITOR.tools.callFunction(39,event);" onmousedown="return CKEDITOR.tools.callFunction(40,event);" onclick="CKEDITOR.tools.callFunction(41,this);return false;"><span class="cke_button_icon cke_button__justifycenter_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1104px;background-size:auto;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__justifycenter_label" aria-hidden="false">Center</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_24" class="cke_toolbar" aria-labelledby="cke_24_label" role="toolbar"><span id="cke_24_label" class="cke_voice_label">Styles</span><span class="cke_toolbar_start"></span><span id="cke_10" class="cke_combo cke_combo__styles  cke_combo_off" role="presentation"><span id="cke_10_label" class="cke_combo_label">Styles</span><a class="cke_combo_button" hidefocus="true" title="Formatting Styles" tabindex="-1" "="" href="javascript:void(&#39;Formatting Styles&#39;)" role="button" aria-labelledby="cke_10_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(43,event,this);" onmousedown="return CKEDITOR.tools.callFunction(45,event);" onfocus="return CKEDITOR.tools.callFunction(44,event);" onclick="CKEDITOR.tools.callFunction(42,this);return false;"><span id="cke_10_text" class="cke_combo_text cke_combo_inlinelabel">Styles</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span id="cke_11" class="cke_combo cke_combo__format  cke_combo_off" role="presentation"><span id="cke_11_label" class="cke_combo_label">Format</span><a class="cke_combo_button" hidefocus="true" title="Paragraph Format" tabindex="-1" "="" href="javascript:void(&#39;Paragraph Format&#39;)" role="button" aria-labelledby="cke_11_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(47,event,this);" onmousedown="return CKEDITOR.tools.callFunction(49,event);" onfocus="return CKEDITOR.tools.callFunction(48,event);" onclick="CKEDITOR.tools.callFunction(46,this);return false;"><span id="cke_11_text" class="cke_combo_text cke_combo_inlinelabel">Format</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_25" class="cke_toolbar" aria-labelledby="cke_25_label" role="toolbar"><span id="cke_25_label" class="cke_voice_label">Links</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_26" class="cke_button cke_button__link  cke_button_off" "="" href="javascript:void(&#39;Link&#39;)" title="Link" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_26_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(50,event);" onfocus="return CKEDITOR.tools.callFunction(51,event);" onmousedown="return CKEDITOR.tools.callFunction(52,event);" onclick="CKEDITOR.tools.callFunction(53,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1248px;background-size:auto;">&nbsp;</span><span id="cke_26_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span></a><a id="cke_27" class="cke_button cke_button__unlink cke_button_disabled " "="" href="javascript:void(&#39;Unlink&#39;)" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_27_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(54,event);" onfocus="return CKEDITOR.tools.callFunction(55,event);" onmousedown="return CKEDITOR.tools.callFunction(56,event);" onclick="CKEDITOR.tools.callFunction(57,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1272px;background-size:auto;">&nbsp;</span><span id="cke_27_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_28" class="cke_toolbar" aria-labelledby="cke_28_label" role="toolbar"><span id="cke_28_label" class="cke_voice_label">Tools</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_29" class="cke_button cke_button__maximize  cke_button_off" "="" href="javascript:void(&#39;Maximize&#39;)" title="Maximize" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(58,event);" onfocus="return CKEDITOR.tools.callFunction(59,event);" onmousedown="return CKEDITOR.tools.callFunction(60,event);" onclick="CKEDITOR.tools.callFunction(61,this);return false;"><span class="cke_button_icon cke_button__maximize_icon" style="background-image:url(https://d12bq4ly3xrtbg.cloudfront.net/assets/ckeditor/plugins/icons.png?t=DAED);background-position:0 -1392px;background-size:auto;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__maximize_label" aria-hidden="false">Maximize</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><span id="cke_34" class="cke_voice_label">Press ALT 0 for help</span><iframe src="./5.2Operator precedence_files/saved_resource.html" frameborder="0" class="cke_wysiwyg_frame cke_reset" style="width: 100%; height: 100%;" title="Rich Text Editor, doubt_data" aria-describedby="cke_34" tabindex="0" allowtransparency="true"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="-webkit-user-select: none;"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">?</span><span id="cke_1_path_label" class="cke_voice_label">Elements path</span><span id="cke_1_path" class="cke_path" role="group" aria-labelledby="cke_1_path_label"><span class="cke_path_empty">&nbsp;</span></span><div class="cke_wordcount" style="" title="Statistics"><span id="cke_wordcount_doubt_data" class="cke_path_item">Characters (including HTML): 0</span></div></span></div></div><script type="text/javascript">
//<![CDATA[
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('doubt_data', {"toolbar":"commentBox"}); }
//]]>
</script>
                </div>
                
                <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">
                <div class="clearfix">
                  <input class="btn btn-success ask-doubt pull-right btn-doubt btn-sm" data-disable-with="Please wait..." name="commit" type="submit" value="Submit">
                </div>
                 <!-- <button class = "btn btn-default btn-sm" onclick='$("#askadoubt").slideUp();'>Cancel</button> -->
</form>            </div>

              <div class="" id="aspire-doubts">
                
<div class="doubts-tabs">
  <div class="col-md-12 paddingReset">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#openDoubts" aria-controls="home" role="tab" data-toggle="tab">Open Doubts</a></li>
      <li role="presentation"><a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#closedDoubts" aria-controls="closedDoubts" role="tab" data-toggle="tab">Closed Doubts</a></li>
        <li role="presentation"><a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#myDoubts" aria-controls="myDoubts" role="tab" data-toggle="tab">My Doubts</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="openDoubts">
        
<div class="open_doubts" id="open_doubts">   
  
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Akhil Poloju"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20141177509">Akhil Poloju</a><span class="text-muted"> • </span><span class="small-text">about 19 days ago</span>
                  </h4>
                  <p></p><p>(~) is compliment operator</p>

<p>(!) has compliment behavior.</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_65234" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_65234" name="data_65234" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="65234">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_65234" style="display:none">
            <p id="comment_notice_doubt_65234"></p>
          </div>

        <div id="abuse_box_doubt_65234" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="65234">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Pranab Roy"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/dt20153007993">Pranab Roy</a><span class="text-muted"> • </span><span class="small-text">about 23 days ago</span>
                  </h4>
                  <p></p><p>what is the difference between unary plus and addition?</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_64791" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_64791" name="data_64791" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="64791">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    

                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/163549/thumb150/pp.jpg?1467653361&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Ajit Shukla"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20131029786">Ajit Shukla</a><span class="text-muted"> • </span><span class="small-text">about 18 days ago</span>
    </h4>
    <p>The unary plus operator precedes its operand and evaluates to its operand but attempts to convert it into a number, if it isn't already. Although unary negation (-) also can convert non-numbers, unary plus is the fastest and preferred way of converting something into a number because it does not perform any other operations on the number. It can convert string representations of integers and floats, as well as the non-string values true, false, and null. Integers in both decimal and hexadecimal ("0x"-prefixed) formats are supported. Negative numbers are supported (though not for hex). If it cannot parse a particular value, it will evaluate to NaN.</p>
  </div>
</div>

          <div id="comment_notification_doubt_64791" style="display:none">
            <p id="comment_notice_doubt_64791"></p>
          </div>

        <div id="abuse_box_doubt_64791" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="64791">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/168438/thumb150/IMG_2791.JPG?1469072001&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Subhashree Patra"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20130957185">Subhashree Patra</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
                  </h4>
                  <p></p><p>What is this yaar.....It is showing wrong even though the answer is right(for some answers)</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_62793" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_62793" name="data_62793" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="62793">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_62793" style="display:none">
            <p id="comment_notice_doubt_62793"></p>
          </div>

        <div id="abuse_box_doubt_62793" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="62793">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Sandesh N"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20151728320">Sandesh N</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
                  </h4>
                  <p></p><p>what is the o/p for this?</p>

<p>x=17/2%2**3</p>

<p>Is it x=0</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_62773" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_62773" name="data_62773" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="62773">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    

                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Krinjal Bhuva"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/dt20142132448">Krinjal Bhuva</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
    </h4>
    <p>yes ans is 0</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/172046/thumb150/DSC04066a.JPG?1469537508&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Ayan Mukherjee"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/dt20152969293">Ayan Mukherjee</a><span class="text-muted"> • </span><span class="small-text">about 13 days ago</span>
    </h4>
    <p>For Python 3.x it is 0.5 but for 2.x it is 0</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/167021/thumb150/b.jpg?1468758951&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Siladitya Bhaumik"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20151609924">Siladitya Bhaumik</a><span class="text-muted"> • </span><span class="small-text">about 13 days ago</span>
    </h4>
    <p>0</p>
  </div>
</div>

          <div id="comment_notification_doubt_62773" style="display:none">
            <p id="comment_notice_doubt_62773"></p>
          </div>

        <div id="abuse_box_doubt_62773" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="62773">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/140037/thumb150/unnamed.jpg?1458323563&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Sarbajit Roy"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20151730780">Sarbajit Roy</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
                  </h4>
                  <p></p><p>between *(multiply) and /(divide) which is of higher rank?</p>

<p>&nbsp;</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_62245" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_62245" name="data_62245" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="62245">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    

                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Sourav Ghosh"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20131065847">Sourav Ghosh</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
    </h4>
    <p>divide</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/138887/thumb150/IMG_20160228_175353.jpg?1457767063&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Aniket Patil"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20151558036">Aniket Patil</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
    </h4>
    <p>MUltiply</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/166500/thumb150/13244881_856599434471929_1850842468939683109_n.jpg?1468559951&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Dhruve Singal"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/dt20163247451">Dhruve Singal</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
    </h4>
    <p>both have same precedence, whichever comes first from left will get executed first.</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/149672/thumb150/IMG-20150117-WA0024.jpg?1462883694&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Sanket Keskar"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/dt20153076696">Sanket Keskar</a><span class="text-muted"> • </span><span class="small-text">about 28 days ago</span>
    </h4>
    <p>According to real mathematics divide has higher rank. But for python multiply has the higher rank than divide.

All is been listed in the table of Higher Rank. the Sequence represents the rank. Leftmost is higher and rightmost is the least.</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Gowthami R"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20131054280">Gowthami R</a><span class="text-muted"> • </span><span class="small-text">about 19 days ago</span>
    </h4>
    <p>Multipy
</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Gowthami R"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20131054280">Gowthami R</a><span class="text-muted"> • </span><span class="small-text">about 19 days ago</span>
    </h4>
    <p>Multipy
</p>
  </div>
</div>

          <div id="comment_notification_doubt_62245" style="display:none">
            <p id="comment_notice_doubt_62245"></p>
          </div>

        <div id="abuse_box_doubt_62245" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="62245">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/158139/thumb150/Untitled-1.jpg?1466145800&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Milan Jena"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/dt20153114915">Milan Jena</a><span class="text-muted"> • </span><span class="small-text">about 1 month ago</span>
                  </h4>
                  <p></p><p>a = 20,b = 10,c = 15,d = 5,e = 0</p>

<p><span style="line-height:1.6em">e = (a + b) * c / d&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #( 30 * 15 ) / 5</span></p>

<p>print "Value of (a + b) * c / d is ",&nbsp; e</p>

<p>It gives the o/p 90.0 not 90</p>

<p>&nbsp;</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_61456" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_61456" name="data_61456" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="61456">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_61456" style="display:none">
            <p id="comment_notice_doubt_61456"></p>
          </div>

        <div id="abuse_box_doubt_61456" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="61456">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/176389/thumb150/IMG_20160612_141520_1_.jpg?1471200536&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Kartik Arora"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20151719859">Kartik Arora</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
                  </h4>
                  <p></p><p>some wrong answers are fed into some of the modules. Its really affecting the miles. Not cool.</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_58745" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_58745" name="data_58745" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="58745">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_58745" style="display:none">
            <p id="comment_notice_doubt_58745"></p>
          </div>

        <div id="abuse_box_doubt_58745" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="58745">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/156179/thumb150/DSC_0007.jpg?1465462543&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Satyavenkata Palakurthi"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20151569674">Satyavenkata Palakurthi</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
                  </h4>
                  <p></p><div style="background:white; border:none; padding:20px 20px 3px">
<div>
<p>What is the difference between unary plus and addition?????<span style="line-height:1.6em">&nbsp;</span></p>
</div>
</div>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_58061" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_58061" name="data_58061" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="58061">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    

                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/162487/thumb150/11062165_456654864492200_8566399803404585759_n.jpg?1467287523&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Manoj Padarthi"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20141161423">Manoj Padarthi</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
    </h4>
    <p>unary operators operate on single operand ex: a+=1  where as general addition operates on two operands ex: c+=a</p>
  </div>
</div>
                <div class="media indent"> 
  <div class="pull-left">
    <div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Finney Sadarla"></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://campuscommune.tcs.com/users/ct20151451460">Finney Sadarla</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
    </h4>
    <p>Unary plus is used to indicate that a number is positive while the other is used to add two numbers</p>
  </div>
</div>

          <div id="comment_notification_doubt_58061" style="display:none">
            <p id="comment_notice_doubt_58061"></p>
          </div>

        <div id="abuse_box_doubt_58061" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="58061">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d3g1bypfq0q5lj.cloudfront.net/var/www/preoffer/public/system/avatars/datas/148470/thumb150/20160403_132257-1.jpg?1462414217&quot;);" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Divya V"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20141234564">Divya V</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
                  </h4>
                  <p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_57833" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_57833" name="data_57833" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="57833">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_57833" style="display:none">
            <p id="comment_notice_doubt_57833"></p>
          </div>

        <div id="abuse_box_doubt_57833" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="57833">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      
                  <li>
             <div class="media">
              <div class="pull-left"><div style="background-image: url(&quot;https://d12bq4ly3xrtbg.cloudfront.net/assets/du150-e966d971d02176a4698b0cda05d30dbb.png&quot;)" class="myPic myPic-50" data-toggle="tooltip" data-placement="bottom" data-original-title="Soumik Das"></div></div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="https://campuscommune.tcs.com/users/ct20151702207">Soumik Das</a><span class="text-muted"> • </span><span class="small-text">about 2 months ago</span>
                  </h4>
                  <p></p><p>some questions are given wrong &nbsp;for example in one math operation problem there was no closing bracket although there was a opening bracket</p>
<p></p>


                  <div class="toolkit clearfix">

                      
                      
                      <div title="" data-toggle="tooltip" data-placement="top" class="btn btn-sm text-muted pull-left reply" data-original-title="Reply"> <i class="fa fa-reply fa-fw"></i> Reply </div>
                   
                  </div>

                <div id="comment_box_doubt_57004" class="margin-top-sm" style="display: none;">

                  <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/doubts/create_doubt" class="new_doubt" data-remote="true" id="new_doubt" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
                    
                    <div class="form-group">
                      <textarea class="form-control" id="data_57004" name="data_57004" placeholder="Enter your reply here.."></textarea>
                    </div>
                    <input id="doubt_parent_id" name="doubt[parent_id]" type="hidden" value="57004">
                    <input id="doubt_user_id" name="doubt[user_id]" type="hidden" value="790894">
                    <input id="doubt_content_id" name="doubt[content_id]" type="hidden" value="3711">
                    <input id="community_slug" name="community_slug" type="hidden" value="aspire-2016">
                    <input id="content_redirect" name="content_redirect" type="hidden" value="operator-precedence-0">   
                    <input class="btn btn-primary btn-doubt btn-sm" name="commit" type="submit" value="Submit"> 
                      <a href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#" class="btn btn-default btn-doubt cancel btn-sm">Cancel</a>
</form>              
                </div>
              </div>  
            </div>    


          <div id="comment_notification_doubt_57004" style="display:none">
            <p id="comment_notice_doubt_57004"></p>
          </div>

        <div id="abuse_box_doubt_57004" class="parent1" style="display: none;">
          <h2> <img alt="Report_abuse" src="./5.2Operator precedence_files/report_abuse-bdef19c0b9976d5f2222b8fe5a185d59.gif"> You're about to report this Doubt as Abuse</h2>
          <form accept-charset="UTF-8" action="https://campuscommune.tcs.com/abuses" class="submit_section" id="new_abuse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="00J4vBEebTo7HY3dY9grm1YH+HF1uDvv7T49QW9Owcw="></div>
            <div class="form-group">
              <h6> Reason ? *</h6>
              <p> [<span>Your Reason is sent to the Category Owner and Admin for further actions</span>]</p>
              <input id="abuse_abused_id" name="abuse[abused_id]" type="hidden" value="57004">
              <input id="abuse_abused_type" name="abuse[abused_type]" type="hidden" value="Doubt">
              <textarea cols="40" id="abuse_reason" name="abuse[reason]" rows="4" title="Please enter your reason"></textarea> <br>
              <div class="textalign_right">
                <input type="submit" value="Submit" class="submit_input_button rounded_corner bold">
                <input type="button" value="Cancel" class="submit_input_button rounded_corner bold" onclick="lightbox.prototype.deactivate();">
              </div>
            </div>
</form>        </div>
            
      </li>
      

    <div id="openListing" class="text-center">
      <ul class="pagination pagination"><li class="prev disabled"><span>Previous</span></li> <li class="active"><span>1</span></li> <li><a rel="next" href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0?page=2&amp;section=open">2</a></li> <li class="next"><a rel="next" href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0?page=2&amp;section=open">Next</a></li></ul>
    </div> 
</div>

<style type="text/css">
  a.best-reply{
    background-color: #FFA500; 
    color: white;
  }
  a.best-reply:hover {
      background-color: #ea9000;
      color: #fff;
  }
</style>  
      </div>
      <div role="tabpanel" class="tab-pane" id="closedDoubts">
        
<div class="closed_doubts" id="closed_doubts"> 
  
      <p class="margin-top-sm noDoubts">There are no closed doubts yet</p>
<!-- for no doubts  -->

    <div class="col-md-12 text-center"> 
       
    </div>
          
          
</div>            
      </div>
        <div role="tabpanel" class="tab-pane" id="myDoubts">
          
<div class="my_doubts" id="my_doubts">   
  
    <p class="margin-top-sm noDoubts">There are no doubts yet</p>

    <div id="openListing" class="text-center">
      
    </div> 
</div>

<style type="text/css">
  a.best-reply{
    background-color: #FFA500; 
    color: white;
  }
  a.best-reply:hover {
      background-color: #ea9000;
      color: #fff;
  }
</style>    
        </div>
    </div>

  </div> 
</div>

<script type="text/javascript">
  $(function(){
    $('body').on('click','.media-body a[title="Unpublish"], .media.indent a[title="Unpublish"]',function(e){
      e.preventDefault();
      var atag = $(this);
      var comment = $(this).closest('.media');
      $.ajax({
        url: $(this).attr('href'),
        method: 'get',
        success: function(data){
          if( atag.hasClass('deleteReply') ){
            comment.remove();  
          }
          else{
            comment.closest('li').remove();
          }
          
          notification("Doubt removed successfully.","success");
          console.clear();
        },
        error: function(data){
          notification("Please try again","danger");
        }
      });
    });

  function notification(msg,type){
    var alert = $('<div class="alert notification-alert '+type+'-notification"></div>');
    $('body').append(alert);
    alert.html(msg);
    setTimeout(function(){
      $('.notification-alert').fadeOut().html('');
    },3000);
  }

  });
</script>

              </div>
        </div>
      </div>
    </div>
  </div>
     
<!-- NOTE: DOUBT SECTION ABOVE (DO NOT MODIFY ANYTHING ABOVE THIS) -->
  
</div>
<div class="modal fade" id="about_aspire">
    <div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
		       <h4 class="modal-title">About</h4>
		    </div>
		    <div class="modal-body">
		        <p>As you gear up to join one of Asia's largest IT organizations, we introduce to you ASPIRE 2016.</p><p>ASPIRE is a mandatory online interactive pre ILP learning program for graduates (new recruits) selected under IT and EIS streams. The objectives of ASPIRE are to:</p><ul>	<li>Prepare for TCS Initial Learning Program (ILP)</li>	<li>Learn the basic concepts of IT</li>	<li>Know more about TCS</li>	<li>Sharpen communication skills</li></ul><p>ASPIRE courses are subdivided into chapters. A course is said to be complete if and only if all the chapters within it are completed. In order to complete a course in ASPIRE</p><ul>	<li>&nbsp;Finish reading the material and/or viewing short videos of a chapter and unlock the chapter quiz</li>	<li>&nbsp;Take chapter quiz and clear it with a pass score to complete the chapter</li>	<li>&nbsp;Complete all chapters to unlock the course quiz</li>	<li>&nbsp;Take course quiz and clear it with a pass score to complete the course</li></ul><p>It is essential that you complete ASPIRE courses in an honest manner. Based on ASPIRE content, at the time of joining TCS, you will be mandated to take up IRA(Initial Readiness Assessment) to assess your level of preparedness for ILP.</p><p>Happy Learning!</p>
		    </div>
	      	<div class="modal-footer">
	      		<a class="btn btn-primary btn-sm" data-dismiss="modal" href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#">Close</a>
	     	</div>
	    </div>
    </div>
</div>

<script type="text/javascript">
$(function(){
});
  function strip(html)
  {
    var tmp = document.createElement("DIV");
    tmp.innerHTML = html;
    return tmp.textContent || tmp.innerText;
  }



  function validate_content(){
    var editor=CKEDITOR.instances['doubt_data'].getData();
    //var editor = tinyMCE.get('doubt_data').getContent();
    // var comment_notification=document.getElementById("comment_notification");
    // var comment_notice=document.getElementById("comment_notice");
    // var doubt_textbox=document.getElementById('doubt_data');

    if(strip(editor)==undefined || strip(editor)=="")

    {
      // comment_notice.innerHTML="Doubt should not be blank";
      // comment_notice.style.color="red";
      // comment_notification.style.display="block";
      return false;
    }
    else
    {
      // doubt_textbox.value=editor;
      // comment_notification.style.display="none";
      return true;
    }
  }


  var my_new_window = null;
  function openPopUp(URL) {
    // if the window is open, close it first to clear its state
    if(my_new_window && !my_new_window.closed) {
      alert('Quiz window is already open.');
       my_new_window.focus();
    }
    // Now open the window
    else{
      my_new_window = window.open(URL, "quizWindow", "fullscreen = 1, resizable=1, statusbar=0, hotkeys=0,menubar=0,scrollbars=yes,status=0,toolbar=0");
      my_new_window.focus();/**/}
    }

$(function(){

    $('.ask-doubt').on('click', function(e){
      // e.preventDefault();
      if( validate_content() ){
        return true;
      }
      else{
        notification("Doubt cannot be left empty.","danger");
        return false;
      }
    });

  $('body').on('click','.reply, a.cancel', function(e){
    e.preventDefault();
    $(this).closest('li').find('div[id^="comment_box_"]').slideToggle();
  }); 

  function notification(msg,type){
    var alert = $('<div class="alert notification-alert '+type+'-notification"></div>');
    $('body').append(alert);
    alert.html(msg);
    setTimeout(function(){
      $('.notification-alert').fadeOut().html('');
    },3000);
  }

});


 function scrollTodoubts()
    {
        $('html,body').animate({
            scrollTop: jQuery("#askadoubt").offset().top},
            2000);
   }
</script>

              

    </div>

    <div class="modal fade" id="about_aspire">
    <div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
		       <h4 class="modal-title">About</h4>
		    </div>
		    <div class="modal-body">
		        <p>As you gear up to join one of Asia's largest IT organizations, we introduce to you ASPIRE 2016.</p><p>ASPIRE is a mandatory online interactive pre ILP learning program for graduates (new recruits) selected under IT and EIS streams. The objectives of ASPIRE are to:</p><ul>	<li>Prepare for TCS Initial Learning Program (ILP)</li>	<li>Learn the basic concepts of IT</li>	<li>Know more about TCS</li>	<li>Sharpen communication skills</li></ul><p>ASPIRE courses are subdivided into chapters. A course is said to be complete if and only if all the chapters within it are completed. In order to complete a course in ASPIRE</p><ul>	<li>&nbsp;Finish reading the material and/or viewing short videos of a chapter and unlock the chapter quiz</li>	<li>&nbsp;Take chapter quiz and clear it with a pass score to complete the chapter</li>	<li>&nbsp;Complete all chapters to unlock the course quiz</li>	<li>&nbsp;Take course quiz and clear it with a pass score to complete the course</li></ul><p>It is essential that you complete ASPIRE courses in an honest manner. Based on ASPIRE content, at the time of joining TCS, you will be mandated to take up IRA(Initial Readiness Assessment) to assess your level of preparedness for ILP.</p><p>Happy Learning!</p>
		    </div>
	      	<div class="modal-footer">
	      		<a class="btn btn-primary btn-sm" data-dismiss="modal" href="https://campuscommune.tcs.com/communities/aspire-2016/content/operator-precedence-0#">Close</a>
	     	</div>
	    </div>
    </div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
    <script src="./5.2Operator precedence_files/jquery_ujs-8f49c4c34038e5b37d1bdb7593de6ba2.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./5.2Operator precedence_files/bootstrap.min.js"></script>
    <script src="./5.2Operator precedence_files/jquery.matchHeight-77ed7f29ddf28c7674a4147e446752c9.js" type="text/javascript"></script>
    <script src="./5.2Operator precedence_files/jquery.knob-69c5bd48fc87642cdeaec959e211ea1b.js" type="text/javascript"></script>
    <script src="./5.2Operator precedence_files/jquery.tokeninput-d90955796310d19d2397906f8c1aad84.js" type="text/javascript"></script>
    <script src="./5.2Operator precedence_files/moment.min-56dbfdb9b137d9523531798d3b69b0f3.js" type="text/javascript"></script>
    <script src="./5.2Operator precedence_files/notifications-f79371ae2c91505723fa68561d5c31d3.js" type="text/javascript"></script> 
    <script src="./5.2Operator precedence_files/channel-4e878d5d9ba87ce673c1f98ed36486c5.js" type="text/javascript"></script>
<script src="./5.2Operator precedence_files/channel1-854e34da4fe19a90d68aa7852a7765ef.js" type="text/javascript"></script>    
    <script src="./5.2Operator precedence_files/quantize-aa82006eee6c435829ba57ad834ab415.js" type="text/javascript"></script>
    <script> 
      $(document).ready(function() {

        $('[data-toggle="tooltip"]').tooltip();

      
        $(window).resize(function () {
            if ($(window).width() < 480) {
                $(".contentSection").insertAfter($(".metaSection"));
            }
        }).resize();
      });
  
        $.fn.modal.Constructor.prototype.enforceFocus = function() {
        modal_this = this
        $(document).on('focusin.modal', function (e) {
            if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length 
            && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') 
            && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
              modal_this.$element.focus()
            }
          })
        };


      $(".head_unit").matchHeight({byRow: false});

    </script>
    <script>
    $(function(){
      $(".aspire-see-more").click(function(){$(this).hide(); $(".more-content").fadeIn();});
      $(".aspire-see-less").click(function(){$(".more-content").hide(); $(".aspire-see-more").fadeIn();});
    });
      
    $(".aspire-dropdown-container .aspire-option-buttons").click(function(){
      $(".aspire-dropdown").toggle();
    });
    $(document).mouseup(function (e)
    {
        var container = $(".aspire-dropdown-container");

        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            $(".aspire-dropdown").hide();
        }
    });  
      
    </script>
    
    
    <div class="modal fade" id="badges_list">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header ">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
               <h4 class="modal-title">List of Badges</h4>
            </div>
              
              <div class="modal-body">
                    <div class="col-lg-6 badge-container">
                    <div class="bc text-center">
                           <img alt="Genius" class="user_profile_image" data-original-title="Genius" data-placement="bottom" src="./5.2Operator precedence_files/Genius-50.png" title="">  
                           <div class="roboto margin-top-sm">
                          <strong>Genius</strong>
                      </div>
                           <div class="text-muted small">
                          <p></p><p>This badge is awarded for completing the quiz with full score.</p>
<p></p>
                      </div>
                                <div class="small">
                                <strong>(x2)</strong>
                                </div>
                      </div>
                      </div>
                    <div class="col-lg-6 badge-container">
                    <div class="bc text-center">
                           <img alt=" Intellect" class="user_profile_image" data-original-title=" Intellect" data-placement="bottom" src="./5.2Operator precedence_files/Intellect-50.png" title="">  
                           <div class="roboto margin-top-sm">
                          <strong> Intellect</strong>
                      </div>
                           <div class="text-muted small">
                          <p></p><p>This badge is awarded for completing at least 2 quiz within a course with 100% score in the first attempt itself.</p>
<p></p>
                      </div>
                                <div class="small">
                                <strong>(x1)</strong>
                                </div>
                      </div>
                      </div>
                    <div class="col-lg-6 badge-container">
                    <div class="bc text-center">
                           <img alt=" Guru" class="user_profile_image" data-original-title=" Guru" data-placement="bottom" src="./5.2Operator precedence_files/Guru-50.png" title="">  
                           <div class="roboto margin-top-sm">
                          <strong> Guru</strong>
                      </div>
                           <div class="text-muted small">
                          <p></p><p>This badge is awarded for completing all the sub-module quiz of a course with a score of 90% or above.</p>
<p></p>
                      </div>
                                 <div class="small">
                                <strong>(x0)</strong>
                                </div>
                      </div>
                      </div>
                 
            </div>
            </div>
            </div>
        </div>
    
    
    
    


<script type="text/javascript" defer="">
var _gaq = _gaq || [];
_gaq.push(['b._setAccount', 'UA-26014212-1']);
_gaq.push(['b._trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>



  
</body></html>