<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python --> Importing Blocks and Code Modules</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Import Statement</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->







          
          
          
          



          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p >
                  <a href="/python/import_statement" title="Import Statement">11.1. Import Statement</a>
                </p>
               
                <p>
                  <a href="/python/problem_statement_5" title="Problem statement">11.2. Problem statement</a>
                </p>
                <p>
                  <a href="/python/pp_10"  style="color:#356BC3;" title="Practise Problems">11.3. Practise Problems</a>
                </p>







              </div>



            </div>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-9" >
        <div class="card  z-depth-2" >

          <div style="margin:10px 0px 0px 10px;">

            <h3 class="h3-responsive">
              <small class="text-muted">11.3. Practise Problems</small>
                    </h3>
				<hr>
                  <p>1. Write a function to find the area of square.Import the module area and find volume of the cube with the area.(height shouldn't be defined).<br>
2. Write a program with three functions add,subtract and multiply.Import add and multiply into a program which displays results of those functions.<br>
3. Generate a random value from x to y.Here take x and y from user.</p>


                  <div class="pull-left">
                    <a href="/python/content/problem_statement_5" title="Problem statement"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Problem statement</div></span></a>
                    <a href="/python/problem_statement_5" title="Problem statement"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>    
                     </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



