  <% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

<!--Page heading-->
            
			<div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">Python --> File Handling Operations</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/python">Pyhton</a></li>
						<li class="breadcrumb-item active">Opening and Closing Files</li>
					</ol>
				
                </div>
            </div>

            <div class="row">
                <!--First column-->
                <div class="col-md-3 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:80px;padding-top:20px;">
									 Index
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
<div class="card-block pad" >
<div class="row ">
<div class="col-md-12">
 <p ><a href="/python/opening_closing_files" title="Opening and Closing Files">12.1. Opening and Closing Files</a></p>
                        <p><a href="/python/reading_writing_files" title="Reading and Writing Files">12.2. Reading and Writing Files</a></p>
						<p><a href="/python/renaming_deleting_files" title="Renaming and Deleting Files">12.3. Renaming and Deleting Files</a></p>
						<p><a href="directories_in_python" title="Directories in Python">12.4. Directories in Python</a></p>
						<p><a href="/python/problem_statement_6" title="Problem statement">12.5. Problem statement</a></p>
						<p><a href="/python/pp_11" style="color:#356BC3;" title="Practise Problems">12.6. Practise Problems</a></p>

						





</div>

							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-9" >
				<div class="card  z-depth-2" >
				
				<div style="margin:10px 0px 0px 10px;">

                  <h3 class="h3-responsive"> 
                        <small class="text-muted">12.6. Practise Problems</small>
                    </h3>
				<hr>
                  <p>1. Write a program to open a file and append the content to the file and close the file.<br>
2. Write a program to display the content of a file on the screen.<br>
3. Write a program that creates a directory and adds files to that directory.<br>
4. Write a program to Create a directory with name pyt and rename it to python and delete it.<br>
5. Write a program to display the content of a file except the first 10 bytes of the file.</p>

<p>Note:Create a sample file on desktop and have some content on it.</p>


               
                  <div class="pull-left">
                    <a href="/python/problem_statement_6" title="Problem statement "><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Problem statement </div></span></a>
                    <a href="/python/problem_statement_6" title="Problem statement "><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>   </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



