<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Learn Python Programming</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Variables and Literals</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->

          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">

              <div class="col-md-12">

                <p >
                  <a href="/python/data_types" title="Basic Data Types">4.1. Basic Data types </a>
                </p>
                <p>
                  <a href="/python/variables_literals" title="Variables and Literals">4.2. Variables and Literals</a>
                </p>
                <p>
                  <a href="/python/more_on_strings" title="More on strings">4.3. More on strings</a>
                </p>
                <p>
                  <a href="/python/type_conversion" title="Type conversions">4.4. Type conversions</a>
                </p>
                <p>
                  <a href="/python/pp_3" style="color:#356BC3;" title="Practise Problems">4.5. Practise Problems</a>
                </p>
              </div>


							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-9" >
				<div class="card  z-depth-2" >
				
				<div style="margin:10px 0px 0px 10px;">


                  <h3 class="h3-responsive"> 
                        <small class="text-muted">4.5. Practise Problems</small>
                    </h3>
				<hr>
                  <p>1. &nbsp;&nbsp; &nbsp;a=4<br>
&nbsp;&nbsp; &nbsp;b='string'<br>
&nbsp;&nbsp; &nbsp;print a+b<br>
what is the error in the above program? Please correct the error.</p>

<p>2. Find out the output and its type of the following statements.<br>
int(5.0)<br>
float(5)<br>
str(7)<br>
int("")<br>
str(7.0)<br>
float("5.0")<br>
int("five")</p>

<p>3. Write a program to check a character in a string.<br>
Note: Take a string of your wish. &nbsp;</p>

<p>4. Consider you have 22 apples,20 bananas,30 carrots. Create variables for each fruit and print the output as follows,<br>
I have 22 apples 20 bananas 30 carrots.<br>
Note:In place of number use the variable.</p>

<p>5. Answer the following questions.<br>
a) Which function used for the address of a variable?<br>
b) Which function used to know whether a given variable is keyword?<br>
c) Which function used to convert object into an expression string?<br>
d) Which function used to find maximum size that integer can take?</p>

<p>Please attempt these above problems.</p>



               
                  <div class="pull-left">
                    <a href="/python/type_conversion" title="Type conversions"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Type conversions</div></span></a>
                    <a href="/python/type_conversion" title="Type conversions"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>
                        
                     </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



