<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python --> Operations on String Variables</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Inbuilt String Methods</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->














          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p class="active">
                  <a href="/python/import_statement" title="Import Statement">8.1. Inbuilt String Methods</a>
                </p>
                <p>
                  <a href="/python/string_formatting_operations" title="String Formatting Operations">8.2. String Formatting Operations</a>
                </p>
                <p>
                  <a href="/python/problem_statement_2" title="Problem statement">8.3. Problem Statement</a>
                </p>
                <p>
                  <a href="/python/pp_7" style="color:#356BC3;" title="Practise Problems">8.4. Practise Problems</a>
                </p>


                
                
                
                
                




              </div>



            </div>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-9" >
        <div class="card  z-depth-2" >

          <div style="margin:10px 0px 0px 10px;">

            <h3 class="h3-responsive">
              <small class="text-muted">8.4. Practise Problems</small>
                    </h3>
				<hr>
                  <p>1. Write a program to compare two strings the program should not consider case(means case insensitive). The output would be "Both are same " if they are same otherwise "Both are not same".</p>

<p>2. Consider,a string x="This is python programmer learning python". Write a program to get sub string "python"and check how many times the string is repeated.</p>

<p>3. Write a program to trim the leading and trialing spaces in a string taken from user as input.</p>

<p>4. Write a program that adds and multiplies two complex numbers and shows output on screen as a complex number and also real and imaginary numbers separately.</p>

<p>5. Write a program to reverse a string without using reversed() inbuilt function.</p>

                  <div class="pull-left">
                    <a href="/python/problem_statement_2" title="Problem Statement "><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Problem Statement </div></span></a>
                    <a href="/python/problem_statement_2" title="Problem Statement "><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>    
                     </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



