<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python--Additional Data Storage Objects</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Dictionaries</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->

          <!--Card content-->








          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p>
                  <a href="/python/lists" title="Lists">9.1. Lists</a>
                </p>
                <p>
                  <a href="/python/tuples" title="Tuples">9.2. Tuples</a>
                </p>
                <p>
                  <a href="/python/diff_list_and_tuple" title="Differences between list and tuple">9.3. Differences between list and tuple</a>
                </p>
                <p>
                  <a href="/python/dictionaries" title="Dictionaries">9.4. Dictionaries</a>
                </p>
                <p>
                  <a href="/python/sets" title="Sets">9.5. Sets</a>
                </p>
                <p>
                  <a href="/python/problem_statement_3" title="Problem statement">9.6. Problem statement</a>
                </p>
                <p>
                  <a href="/python/pp_8" style="color:#356BC3;" title="Practise Problems">9.7. Practise Problems</a>
                </p>

              </div>


							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-9" >
				<div class="card  z-depth-2" >
				
				<div style="margin:10px 0px 0px 10px;">

                  <h3 class="h3-responsive"> 
                        <small class="text-muted">9.7. Practise Problems</small>
                    </h3>
				<hr>
                  
                  <p>1. Consider the dictionary mentioned below:<br>
dic={'a':'act','b':'battle','c':'cart','d':'diction'}<br>
Write a program to print values of dic in different lines.</p>

<p>2. Write a program to find all the subsets of the set x={1,2,3,4}</p>

<p>3. Consider a tuple, x=('s','y','e') and a dictionary, d={'a':'act','b':'battle','y':'cart','s':'diction'}.<br>
&nbsp;&nbsp;&nbsp; Write a program to find number of tuple values that are keys in dictionary.<br>
4.Write a program to find number of keys in a dictionary.</p>

<p>5.Write a program to find a value in a given list.</p>




               
                  <div class="pull-left">
                    <a href="/python/problem_statement_3" title="Problem statement"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Problem statement</div></span></a>
                    <a href="/python/problem_statement_3" title="Problem statement"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>   
				     
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



