<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python --> Modularity and Code reusability – Functions</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Practise Problems</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->











          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p >
                  <a href="/python/exception" title="Functions in Python">10.1. Functions in Python</a>
                </p>
                <p>
                  <a href="/python/raising_expections_and_userdefined" title="Pass by reference">10.2. Pass by reference</a>
                </p>
                <p>
                  <a href="/python/function_arguments" title="Function arguments">10.3. Function arguments</a>
                </p>
                <p>
                  <a href="/python/return_statement_scope_variables" title="Return statement and Scope of Variables">10.4. Return statement and Scope of Variables</a>
                </p>
                <p>
                  <a href="/python/problem_statement_4" title="Problem statement">10.5. Problem statement</a>
                </p>
                <p>
                  <a href="/python/pp_9" style="color:#356BC3;" title="Practise Problems">10.6. Practise Problems</a>
                </p>







              </div>



            </div>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-9" >
        <div class="card  z-depth-2" >

          <div style="margin:10px 0px 0px 10px;">

            <h3 class="h3-responsive">
              <small class="text-muted">10.6. Practise Problems</small>
                    </h3>
				<hr>
                  <p>1. Write a function for finding square of a number.</p>

<p>2. Write a function that prints hello before the input provided by user for ex:func('siddu') should print output as Hello siddu.</p>

<p>3. Write a function whichType() so that it should print following outputs.<br>
&nbsp;&nbsp; &nbsp;whichType(4)<br>
&nbsp;&nbsp; &nbsp;This is int<br>
&nbsp;&nbsp; &nbsp;whichType(4.0)<br>
&nbsp;&nbsp; &nbsp;This is float<br>
&nbsp;&nbsp; &nbsp;whichType('hi')<br>
&nbsp;&nbsp; &nbsp;This is string</p>

<p>4. Write a merge sort function to sort a given list.</p>

<p>5. Write a function to convert seconds into minutes For ex:convertMin(100) should give output as<br>
&nbsp;&nbsp;&nbsp;&nbsp; 1 minute 40 seconds</p>


                  <div class="pull-left">
                    <a href="/python/problem_statement_4" title="Problem statement"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Problem statement</div></span></a>
                    <a href="/python/problem_statement_4" title="Problem statement"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>   </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



