<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python --> Importing Blocks and Code Modules</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Import Statement</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->







          
          
          
          



          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p class="active">
                  <a href="/python/import_statement" title="Import Statement">11.1. Import Statement</a>
                </p>
               
                <p>
                  <a href="/python/problem_statement_5" style="color:#356BC3;" title="Problem statement">11.2. Problem statement</a>
                </p>
                <p>
                  <a href="/python/pp_10" title="Practise Problems">11.3. Practise Problems</a>
                </p>







              </div>



            </div>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-9" >
        <div class="card  z-depth-2" >

          <div style="margin:10px 0px 0px 10px;">

            <h3 class="h3-responsive">
              <small class="text-muted"> 11.2. Problem Statement </small> </h3>
            <hr>                
			  <p>Find whether random function generated is in range of 25 or 50 or 75 or 100</p>

<p><strong>Solution</strong><br>
#!/usr/bin/python<br>
import random<br>
i=random.randrange(0,100) #random number generated will be from 0 to 100.<br>
print " random number is "<br>
print i<br>
if i&lt;25:<br>
&nbsp;&nbsp; &nbsp;print " This value is less than 25"<br>
elif i&lt;50:<br>
&nbsp;&nbsp; &nbsp;print " This value is less than 50 greater than 25"<br>
elif i&lt;75:<br>
&nbsp;&nbsp; &nbsp;print " This value is less than 75 grater than 50"<br>
else:<br>
&nbsp;&nbsp; &nbsp;print " This value is less than 100 greater than 75"</p>

                  <div class="pull-left">
                    <a href="/python/import_statement" title="Import Statement"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> Import Statement</div></span></a>
                    <a href="/python/import_statement" title="Import Statement"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>
                  <div class="pull-right">
                    <a href="/python/pp_10" title="Practise Problems"><span class="pull-right hidden-xs">Next <i class="fa fa-angle-right"></i> </span>    <div style="clear: right;" class="hidden-xs text-right">Practise Problems</div> </a>
                    <a href="/python/pp_10" title="Practise Problems"><div class="btn btn-sm btn-primary pull-right visible-xs">Next <i class="fa fa-angle-right"></i> </div></a>
                  </div>   </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



