<% include ../header %>
<main style="padding-top:85px;">
  <!--Main layout-->

  <div class="container">

    <!--Page heading-->

    <div class="row">
      <div class="col-md-12">
        <h3 class="h3-responsive">
          <small class="text-muted">Python --> Operations on String Variables</small>
        </h3>

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/python">Pyhton</a>
          </li>
          <li class="breadcrumb-item active">Inbuilt String Methods</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <!--First column-->
      <div class="col-md-3 unit-section">
        <!--Card-->
        <div class="card  z-depth-2">

          <!--Card Gradient-->
          <div class="gradient" style="height:80px;padding-top:20px;">
            Index

            <div class="mask"></div>

          </div>
          <!--/.Card Gradient---->














          <!--Card content-->
          <div class="card-block pad" >
            <div class="row ">
              <div class="col-md-12">
                <p >
                  <a href="/python/import_statement" title="Import Statement">8.1. Inbuilt String Methods</a>
                </p>
                <p>
                  <a href="/python/string_formatting_operations" title="String Formatting Operations">8.2. String Formatting Operations</a>
                </p>
                <p>
                  <a href="/python/problem_statement_2" style="color:#356BC3;" title="Problem statement">8.3. Problem Statement</a>
                </p>
                <p>
                  <a href="/python/pp_7" title="Practise Problems">8.4. Practise Problems</a>
                </p>


                
                
                
                
                




              </div>



            </div>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-9" >
        <div class="card  z-depth-2" >

          <div style="margin:10px 0px 0px 10px;">

            <h3 class="h3-responsive">
              <small class="text-muted">8.3. Problem Statement</small>
                    </h3>
				<hr>
                  <p><em><strong>Write a program to find whether given string is a palindrome</strong></em></p>

<p><strong>Solution</strong></p>

<p># Program to check if a string<br>
&nbsp;&nbsp; &nbsp;#!/usr/bin/python<br>
# is palindrome or not<br>
# take input from the user<br>
my_str = input("Enter a string: ")<br>
# make it suitFendable for caseless comparison<br>
my_str = my_str.lower()<br>
# reverse the string<br>
rev_str = reversed(my_str)<br>
# check if the string is equal to its reverse<br>
if list(my_str) == list(rev_str):<br>
&nbsp;&nbsp;&nbsp; print("It is palindrome")<br>
else:<br>
&nbsp;&nbsp;&nbsp; print("It is not palindrome")</p>

<p>Let us give input as, aibia then output would be It is a palindrome.</p>

                  <div class="pull-left">
                    <a href="/python/string_formatting_operations" title="String Formatting Operations"><span class="hidden-xs"><i class="fa fa-angle-left"></i> Previous <div class="hidden-xs"> String Formatting Operations</div></span></a>
                    <a href="/python/string_formatting_operations" title="String Formatting Operations"><div class="btn btn-primary btn-sm visible-xs"><i class="fa fa-angle-left"></i> Previous </div></a>
                  </div>
                  <div class="pull-right">
                    <a href="/python/pp_7" title="Practise Problems"><span class="pull-right hidden-xs">Next <i class="fa fa-angle-right"></i> </span>    <div style="clear: right;" class="hidden-xs text-right">Practise Problems</div> </a>
                    <a href="/python/pp_7" title="Practise Problems"><div class="btn btn-sm btn-primary pull-right visible-xs">Next <i class="fa fa-angle-right"></i> </div></a>
                  </div>    
                     </div>   
					
                    </div>
             </div>
				
	
		</div>
</main>
<% include ../footer %>



