<% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

<!--Page heading-->
            
			<div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">Learn Python Programming</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/python">Pyhton</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol>
				
                </div>
            </div>

            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 Python Programming Version 2.7
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->
					</div>
        
		
					<div class="card  z-depth-1">
					
					<!--Card Gradient-->
                        <div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted">  1.1. Introduction </small></h3>
										<hr>
										<ul style="margin-left:10px;">
							<li><a href="/python/introduction" class="anchor-class">Introduction</a></li>                            
                                </ul>
								<div class="mask"></div>
                            
                        </div>
						</div>
                    
						
						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 2. First Program In Python </small></h3>
										<hr>
										<ul style="margin-left:10px;">
								<li><a href="/python/first_program_in_python" class="anchor-class">Program In Python</a></li>
								<li><a href="/python/pp_1" class="anchor-class">Problems for Practice</a></li>                            
									</ul>
									<div class="mask"></div>
                           </div>
						</div>   
					
						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 3. User Interaction - I/O operations</small></h3>
										<hr>
										<ul style="margin-left:10px;">
								<li><a href="/python/input_operations" class="anchor-class">Input operations</a></li>
								<li><a href="/python/output_operations" class="anchor-class">Output Operations</a></li>
								<li><a href="/python/pp_2" class="anchor-class">Problems for Practice</a></li>


								                            
									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 4. Basic Data Types </small></h3>
										<hr>

										<ul style="margin-left:10px;">
								<li><a href="/python/data_types" class="anchor-class">Basic Data types</a></li>
								<li><a href="/python/variables_literals" class="anchor-class">Variables and Literals</a></li>
								<li><a href="/python/more_on_strings" class="anchor-class">More on strings</a></li>
								<li><a href="/python/type_conversion" class="anchor-class">Type conversions</a></li>
								<li><a href="/python/pp_3" class="anchor-class">Problems for Practice</a></li>                            
									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 5. Operators for Data manipulation and Comparison </small></h3>
										<hr>
										<ul style="margin-left:10px;">

										<li><a href="/python/basic_operators" class="anchor-class">Basic operators</a></li>
										<li><a href="/python/operator_precedence" class="anchor-class"> Operator precedence</a></li>
										<li><a href="/python/pp_4" class="anchor-class">Problems for Practice</a></li>

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted">6. Program Flow Control - Conditional Statements</small></h3>
										<hr>
										<ul style="margin-left:10px;">

								<li><a href="/python/decision_making_structures" class="anchor-class">Decision making structure</a></li>
								
								<li><a href="/python/pp_5" class="anchor-class">Problems for Practice</a></li>                            
									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 7. Loop Structures </small></h3>
										<hr>
										<ul style="margin-left:10px;">
								<li><a href="/python/loop_statement" class="anchor-class">Loop statement</a></li>
								<li><a href="/python/loop_control_statements" class="anchor-class">Loop control statements</a></li>
								<li><a href="/python/problem_statement_1" class="anchor-class">Problem statement</a></li>
								<li><a href="/python/pp_6" class="anchor-class">Problems for Practice</a></li>		

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 8. Different Operations on String Variables </small></h3>
										<hr>
										<ul style="margin-left:10px;">
				
								<li><a href="/python/inbuilt_string_methods" class="anchor-class">Inbuilt String Methods</a></li>
								
								<li><a href="/python/string_formatting_operations" class="anchor-class">String Formatting Operations</a></li>
								
								<li><a href="/python/problem_statement_2" class="anchor-class">Problem Statement</a></li>
								
								<li><a href="/python/pp_7" class="anchor-class">Problems for Practice</a></li>										

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted">  9. Native Data Types </small></h3>
										<hr>
										<ul style="margin-left:10px;">
								<li><a href="/python/lists" class="anchor-class">Lists</a></li>
								<li><a href="/python/tuples" class="anchor-class">Tuples</a></li>
								<li><a href="/python/diff_list_and_tuple" class="anchor-class">Differences between list and tuple</a></li>
								<li><a href="/python/dictionaries" class="anchor-class">Dictionaries</a></li>
								<li><a href="/python/sets" class="anchor-class">Sets</a></li>
								<li><a href="/python/problem_statement_3" class="anchor-class">Problem statement</a></li>
								<li><a href="/python/pp_8" class="anchor-class">Problems for Practice</a></li>		

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 10. Modularity and Code reusability – Functions </small></h3>
										<hr>
										<ul style="margin-left:10px;">
										
									
								<li><a href="/python/functions_in_python" class="anchor-class">10.1. Functions in Python</a></li>
								
								<li><a href="/python/pass_by_refrence" class="anchor-class">10.2. Pass by reference</a></li>
								
								<li><a href="/python/function_arguments" class="anchor-class">10.3. Function arguments</a></li>

								<li><a href="/python/return_statement_scope_variables" class="anchor-class">10.4. Return statement and Scope of Variables</a></li>

								<li><a href="/python/problem_statement_4" class="anchor-class">10.5. Problem statement</a></li>
								
								<li><a href="/python/pp_9" class="anchor-class">10.6. Practise Problems</a></li>

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 11. Importing Blocks and Code Modules  </small></h3>
										<hr>
										<ul style="margin-left:10px;">
								
								<li><a href="/python/import_statement" class="anchor-class">11.1. Import Statement</a></li>
								
								<li><a href="/python/problem_statement_5" class="anchor-class">11.2. Problem statement</a></li>
								
								<li><a href="/python/pp_10" class="anchor-class">11.3. Practise Problems</a></li>										

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 12. File Handling Operations</small></h3>
										<hr>
										<ul style="margin-left:10px;">

								<li><a href="/python/opening_closing_files" class="anchor-class">12.1. Opening and Closing Files</a></li>
								
								<li><a href="/python/reading_writing_files" class="anchor-class">12.2. Reading and Writing Files</a></li>
								
								<li><a href="/python/renaming_deleting_files" class="anchor-class">12.3. Renaming and Deleting Files</a></li>
								
								<li><a href="/python/directories_in_python" class="anchor-class">12.4. Directories in Python</a></li>
								
								<li><a href="/python/problem_statement_6" class="anchor-class">12.5. Problem statement</a></li>
								
								<li><a href="/python/pp_11" class="anchor-class">12.6. Practise Problems</a></li>										

									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
									<h3 class="h3-responsive"><small class="text-muted"> 13. Handling runtime errors - Exception Handling </small></h3>
									<hr>
									<ul style="margin-left:10px;">
								<li><a href="/python/exception" class="anchor-class">13.1. Exception</a></li>
								<li><a href="/python/raising_expections_and_userdefined" class="anchor-class">13.2. Raising exceptions and User defined Exceptions</a></li>
								<li><a href="/python/problem_statement_7" class="anchor-class">13.3. Problem statement</a></li>
								<li><a href="/python/pp_12" class="anchor-class">13.4. Practise Problems</a></li>





								                            
									</ul>
									<div class="mask"></div>
                           </div>
						</div>

						<div class="card  z-depth-1">
					
					<!--Card Gradient-->
							<div style="margin-top:30px;">
							<h3 class="h3-responsive"> 
                        <small class="text-muted">14. Object Oriented Programming in Python</small>
                    </h3>
								
										<hr>
								<ul style="margin-left:10px;">
								<li><a href="/python/classes_and_objects" class="anchor-class">14.1. Classes and objects</a></li>
								<li><a href="/python/methods" class="anchor-class">14.2. Methods</a></li>
								<li><a href="/python/python_memory_management" class="anchor-class">14.3. Python memory management</a></li>
								<li><a href="/python/principles_of_object_orientation" class="anchor-class">14.4. Principles of object orientation</a></li>
								<li><a href="/python/problem_statement_8" class="anchor-class">14.5. Problem statement</a></li>
								<li><a href="/python/pp_13" class="anchor-class">14.6. Practise Problems</a></li>                            
								</ul>
									<div class="mask"></div>
                           </div>
						</div>



					</div>	
		


				<div class="col-md-3" >
				<p>aaaa</p>
				 </div>

                </div>
				
				
	
		</div>
</main>
<% include ../footer %>



