<% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">APTITUDE QUESTIONS & SOLUTIONS</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/aptitude">Aptitude</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol>
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 APTITUDE + REASONING
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
                        <div class="card-block pad" >
						<div class="row ">
						<div class="col-md-6">
					
                            <ul>
                            <li><a 	href="/aptitude"  class="anchor-class">Aptitude</a></li>
							<hr>
							<li><a 	href="#" class="anchor-class">Logical Reasoning</a></li>
							<hr>
							<li><a  href="#" class="anchor-class">Verbal Reasoning</a></li>
							<hr>
							
				
							</ul>
							</div>

							<div class="col-md-6">
                            <ul>
                             <li><a  href="/aptitude/compound_interest" class="anchor-class" >Aptitude Test</a></li>
                <hr>
				<li><a  href="/aptitude/logarithms" class="anchor-class">Verbal Reasoning Test</a></li>
                <hr>
				<li><a  href="/aptitude/area" class="anchor-class">Logical Reasoning Test</a></li>
            	<hr>
							</ul>
							<div class="read-more">
                                <a href="#!" class="btn btn-primary">Aptitude + Reasoning Combine Test</a>
                            </div>
				</div>
							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-3" >
				
                dsddsdsds
             </div>
				
	
		</div>
</main>
<% include ../footer %>