<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Add or Delete Question</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/selecttopic">Select Topic</a>
        </li>
        
        <li class="breadcrumb-item active">Add or Delete</li>
        <li class="breadcrumb-item">

          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </li>
      </ol>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>Add or Delete Question</h1>

            <p>Add or Delete:</p>

            <a href="/addQuestion" class="btn btn-default"><span class="fa fa-user"></span>Add Question</a>
            <a href="/deleteQuestion" class="btn btn-default"><span class="fa fa-user"></span>Delete Question</a>
        </div>
    </div>
</body>
</html>