<!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title">ABOUT US</h5>
                    <p>We Provide you with worlds best content so that you can compete with any one.</p>

                    <p>We have Experienced Teacher and Researchers who prepare Study Material for you ! </p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="/aptitude">Aptitude</a></li>
                        <li><a href="/">Data Interpretation</a></li>
                        <li><a href="#!">Reasoning</a></li>
                        <li><a href="#!">Verbal Ability</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Learn Programming</a></li>
                        <li><a href="#!">Programming MCQ's</a></li>
                        <li><a href="#!">Test Yourself</a></li>
                        <li><a href="#!">Different Lectures</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column>
                <div class="col-md-2">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div-->
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>


                 <!--Call to action-->
        
        <div class="call-to-action social-section wow fadeIn" data-wow-delay="0.8s">
            <h4>Social Media Links</h4>
            <ul>
              <!--Facebook-->
              <li>
                
                  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faptifunda%2F&tabs=timeline&width=340&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                
              </li>
              <!--Linkedin>
              <li>
                <a href="" class="btn btn-default btn-li" style="background-color:#1E87be">
                <i class="fa fa-linkedin left"></i> Linkedin
                </a>
              </li>

              <Youtube>
              <li>
                <a href="" class="btn btn-yt" style="background-color:#E62117">
                <i class="fa fa-youtube left"></i> Youtube
                </a>
              </li>

           
              <li>
                <a href="" class="btn btn-email">
                  <i class="fa fa-envelope left"></i> Email
                </a>
              </li>
              <!--Email-->

            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>© <%=year%> Copyright: <a href="http://www.aptifunda.com">APTIFUNDA.com </a></p>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    
    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../../js/jquery-2.2.3.min.js"></script>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <script type="text/javascript" src="../../js/test.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../js/mdb.min.js"></script>
    <script src="../../js/wow.js"></script>
    <script src="../../js/main.js"></script>

</body>

</html>