<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Select Topic</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Topics</li>
        <li class="breadcrumb-item">
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </li>
      </ol>
        <div class="jumbotron text-center">
          
          <h1><span class="fa fa-lock"></span>Upload Images</h1>
          <div class="row">
          <a 	href="/upload-images"  class="anchor-class">Upload Images</a></li>
           </div> 
            <h1><span class="fa fa-lock"></span>Select Topic</h1>

            <p>Select Topic in which you want to insert or delete Data:</p>
          <div class="row">
            <div class="col-sm-6">
            <h4>Topics For Adding Data</h4>
			
              <li><a 	href="/add_aptitude_ques"  class="anchor-class">ADD Ques In Aptitude </a></li>
              
              <li><a  href="#"  class="anchor-class">Data Interpretation</a></li>
        
						    <li><a 	href="#" class="anchor-class">Logical Reasoning</a></li>
				        <li><a  href="#" class="anchor-class" >Non Verbal Reasoning</a></li>
                <li><a  href="#" class="anchor-class" >Verbal Reasoning</a></li>
                <li><a  href="/add_verbal_ability_ques" class="anchor-class">Verbal Ability</a></li>
        
    
              <li><a 	href="#" class="anchor-class">C MCQ's</a></li>
							<li><a 	href="#" class="anchor-class">C++ MCQ's</a></li>
							<li><a  href="#" class="anchor-class" >Java MCQ's</a></li>
							<li><a  href="#" class="anchor-class">Python MCQ's</a></li>
        
    
              <li><a 	href="#" class="anchor-class">Aptitude Test</a></li>
							<li><a 	href="#" class="anchor-class">Reasoning Test</a></li>
							<li><a  href="#" class="anchor-class" >Programming Test</a></li>
							<li><a  href="#" class="anchor-class">Communication Test</a></li>
            </div>
          
        
    <div class="col-sm-6">
            <h4>Topics For Deleting Data</h4>
      
			    
              <li><a 	href="/delete_aptitude_ques"  class="anchor-class">Delete From Aptitude </a></li>
              
              <li><a  href="#"  class="anchor-class">Data Interpretation</a></li>
              
              <li><a 	href="#" class="anchor-class">Logical Reasoning</a></li>
				      
              <li><a  href="#" class="anchor-class" >Non Verbal Reasoning</a></li>
                
              <li><a  href="#" class="anchor-class" >Verbal Reasoning</a></li>
                
              <li><a  href="/delete_verbal_ability_ques" class="anchor-class">Verbal Ability</a></li>
        
              <li><a 	href="#" class="anchor-class">C MCQ's</a></li>
							
              <li><a 	href="#" class="anchor-class">C++ MCQ's</a></li>
							
              <li><a  href="#" class="anchor-class" >Java MCQ's</a></li>
							
              <li><a  href="#" class="anchor-class">Python MCQ's</a></li>
        
    
              <li><a 	href="#" class="anchor-class">Aptitude Test</a></li>
							
              <li><a 	href="#" class="anchor-class">Reasoning Test</a></li>
							
              <li><a  href="#" class="anchor-class" >Programming Test</a></li>
							
              <li><a  href="#" class="anchor-class">Communication Test</a></li>
          
          </div>
    </div>
        </div>
    </div>
</body>
</html>