<% include header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

<!--Page heading-->
            
			<div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">Work Progress <progress value="75" max="100">
</progress></small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active">Work is in progress</li>
					</ol>
				
                </div>
            </div>

            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 Work is in Progress...........
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->
<div class="card-block pad" >
<div class="row ">
<h3>Data Will Be Uploded Soon as our Team is working on it to provide you Unmatchable Content !!</h3>
<br>
<br>
<h4>Keep Visiting</h4>
</div>
</div>
<!--Card content-->
 </div>
<!--/.Card-->
 </div>
				<div class="col-md-3">				
			
				</div>
			
		</div>	
	
		</div>
</main>
<% include footer %>



