<% include ../adminheader %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">SELECT CHAPTER IN WHICH YOU WANT TO INSERT OR DELETE</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/selecttopic">Select Topic</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol>
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
								SELECT VERBAL ABILITY CHAPTERS
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
<div class="card-block pad" >
<div class="row ">
<div class="col-md-6">
 <ul>
<li><a href="/Verbal_Ability/aantonyms" class="anchor-class">Antonyms</a></li>
<hr>
<li><a href="/Verbal_Ability/achange_of_voice" class="anchor-class">Change of Voice</a></li>
<hr>
<li><a href="/Verbal_Ability/achange_of_speech" class="anchor-class">Change of Speech</a></li>
<hr>
<!--li><a href="/Verbal_Ability/acloset_test" class="anchor-class">Closet Test</a></li>
<hr-->
<li><a href="/Verbal_Ability/acompleteing_statements" class="anchor-class">Completing Statements</a></li>
<hr>
				
<!--li><a href="/Verbal_Ability/acomprehension" class="anchor-class">Comprehension</a></li>
  <hr-->
<li><a href="/Verbal_Ability/aidoms_phrases" class="anchor-class">Idioms and Phrases</a></li>
 <hr>
<li><a href="/Verbal_Ability/aordering_of_sentence" class="anchor-class">Ordreing of Sentence</a></li>
  <hr>
<li><a href="/Verbal_Ability/aone_word_substitute" class="anchor-class">One Word Substitute</a></li>
  <hr>
				
<li><a href="/Verbal_Ability/aordering_of_words" class="anchor-class">Ordreing of Words</a></li>
   <hr>
   <li><a  href="/Verbal_Ability/aparagraph_formation" class="anchor-class" >Paragraph Formation</a></li>
<hr>
</ul>

</div>
<div class="col-md-6">
<ul>
                 
<li><a  href="/Verbal_Ability/aparagraph_formation" class="anchor-class" >Paragraph Formation</a></li>
<hr>
<li><a  href="/Verbal_Ability/asynonyms" class="anchor-class">Synonyms</a></li>
<hr>
<li><a  href="/Verbal_Ability/aspotting_errors" class="anchor-class">Spotting Errors</a></li>
<hr>
<li><a href="/Verbal_Ability/aspelling" class="anchor-class">Spellings</a></li>
    <hr>
<li><a  href="/Verbal_Ability/aselecting_words" class="anchor-class" >Selecting Words</a></li>
 <hr>
<li><a  href="/Verbal_Ability/asentence_formation" class="anchor-class">Sentence Formation</a></li>
 <hr>
<li><a  href="/Verbal_Ability/asentence_correction" class="anchor-class">Sentence Correction</a></li>
<hr>
<li><a href="/Verbal_Ability/asentence_improvement" class="anchor-class">Sentence Improvement</a></li>
<hr>
<li><a  href="/Verbal_Ability/averbal_analogies" class="anchor-class" >Verbal Analogies</a></li>
<hr>
	</ul>
	
<div class="read-more">
        
<a href="#!" class="btn btn-primary">Test Your Skills Now !</a>
                            
</div>
				</div>
							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-3" >
				
                dsddsdsds
             </div>
				
	
		</div>
</main>
<% include ../footer %>