<% include ../header %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">LOGICAL REASONING QUESTIONS & SOLUTIONS</small>
                    </h3>
					
					<!--ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/logical_reasoning">Logical Reasoning</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol-->
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 LOGICAL REASONING CHAPTERS
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
                        <div class="card-block pad" >
						<div class="row ">
						<div class="col-md-6">
                            <ul>
                            
							<li><a href="/logical_reasoning/number_series" class="anchor-class">Number Series</a></li>
							<hr>
							<li><a  href="/logical_reasoning/verbal_classification"  class="anchor-class">Verbal Classification</a></li>
							<hr>
							<li><a  href="/logical_reasoning/analogies" class="anchor-class">Analogies</a></li>
							<hr>
							<li><a  href="/logical_reasoning/matching_classification" class="anchor-class">Matching Definitions</a></li>
            				<hr>
							<li><a href="/logical_reasoning/logical_games" class="anchor-class">Logical Games</a></li>
							<hr>
				
				<li><a  href="/logical_reasoning/statement_and_assumtion" class="anchor-class" >Statement and Assumption</a></li>
                <hr>
				<li><a  href="/logical_reasoning/statement_and_conclusion" class="anchor-class">Statement and Conclusion</a></li>
            	<hr>
				<li><a href="/logical_reasoning/cause_and_effect" class="anchor-class">Cause and Effect</a></li>
                <hr>

				<li><a  href="/logical_reasoning/logical_deduction" class="anchor-class" >Logical Deduction</a></li>
                <hr>
				
							</ul>
							</div>

							<div class="col-md-6">
                            <ul>
							<li><a  href="/logical_reasoning/letter_and_symbol_series" class="anchor-class">Letter and Symbol Series</a></li>
                <hr>
				<li><a  href="/logical_reasoning/essential_part" class="anchor-class">Essential Part</a></li>
				<hr>
				<li><a  href="/logical_reasoning/artificial_language" class="anchor-class">Artificial Language</a></li>
				<hr>
				<li><a  href="/logical_reasoning/making_judgments" class="anchor-class">Making Judgments</a></li>
                <hr>
				<li><a  href="/logical_reasoning/logical_problems" class="anchor-class" >Logical Problems</a></li>
                <hr>
				<li><a  href="/logical_reasoning/analyzing_arguments" class="anchor-class">Analyzing Arguments</a></li>
                <hr>
				<li><a  href="/logical_reasoning/course_of_action" class="anchor-class">Course of Action</a></li>
				<hr>
				<li><a href="/logical_reasoning/theme_detection" class="anchor-class">Theme Detection</a></li>
				<hr>
                             <li><a  href="/logical_reasoning/statement_and_argument" class="anchor-class" >Statement and Argument</a></li>
                <hr>
				
							</ul>
							<div class="read-more">
                                <a href="#!" class="btn btn-primary">Test Your Skills Now !</a>
                            </div>
				</div>
							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-3" >
				
                dsddsdsds
             </div>
				
	
		</div>
</main>
<% include ../footer %>