<% include ../header %>
<main style="padding-top:85px;" ng-app="try">
        <!--Main layout-->
		
        <div class="container" ng-controller="tryController" >

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">APTITUDE QUESTIONS & SOLUTIONS</small>
                    </h3>
					
					<!--ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/aptitude">Aptitude</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol-->
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 APTITUDE CHAPTERS
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
                        <div class="card-block pad" >
						<div class="row ">
						<div class="col-md-6">
                            <ul>
                            <li><a ng-click="aptitudeChapter(aptitude/numbers)" class="anchor-class">Numbers </a></li>
							<hr>
							<li><a  href="/aptitude/hcf_lcm"  class="anchor-class">H.C.F & L.C.M of Numbers</a></li>
							<hr>
							<li><a  href="/aptitude/decimal_fractions" class="anchor-class">Decimal Fractions</a></li>
							<hr>
							<li><a  href="/aptitude/simplifactions" class="anchor-class">Simplification</a></li>
            				<hr>
							<li><a href="/aptitude/square_cube_root" class="anchor-class">Square Roots & Cube Roots</a></li>
							<hr>
				
				<li><a  href="/aptitude/average" class="anchor-class" >Average</a></li>
                <hr>
				<li><a  href="/aptitude/ages" class="anchor-class">Problems on Ages</a></li>
            	<hr>
				<li><a href="/aptitude/percentage" class="anchor-class">Percentage </a></li>
                <hr>
				<li><a  href="/aptitude/profit_loss" class="anchor-class" >Profit & Loss</a></li>
                <hr>
				<li><a  href="/aptitude/ratio_proportion" class="anchor-class">Ratio and Proportion</a></li>
                <hr>
				<li><a  href="/aptitude/time_work" class="anchor-class">Time & Work</a></li>
				<hr>
				<li><a  href="/aptitude/pipes_cistern" class="anchor-class">Pipes & Cistern</a></li>
				<hr>
				<li><a  href="/aptitude/time_distance" class="anchor-class">Time & Distance</a></li>
                <hr>
				<li><a  href="/aptitude/trains" class="anchor-class" >Problems on Trains</a></li>
                <hr>
				<li><a  href="/aptitude/boats_streams" class="anchor-class">Boats & Streams</a></li>
                <hr>
				<li><a  href="/aptitude/aligation_mixture" class="anchor-class">Aligation or Mixture</a></li>
				<hr>
				<li><a href="/aptitude/simple_interest" class="anchor-class">Simple Interest</a></li>
				<hr>
							</ul>
							</div>

							<div class="col-md-6">
                            <ul>
                             <li><a  href="/aptitude/compound_interest" class="anchor-class" >Compound Interest</a></li>
                <hr>
				<li><a  href="/aptitude/logarithms" class="anchor-class">Logarithms</a></li>
                <hr>
				<li><a  href="/aptitude/area" class="anchor-class">Area</a></li>
            	<hr>
				<li><a href="/aptitude/volume_surface_area" class="anchor-class">Volume & Surface Areas</a></li>
                <hr>
				<li><a  href="/aptitude/races_game_skills" class="anchor-class" >Races & Games of Skill</a></li>
                <hr>
				<li><a  href="/aptitude/calender" class="anchor-class">Calendar</a></li>
                <hr>
				<li><a  href="/aptitude/clocks" class="anchor-class">Clocks</a></li>
          		<hr>
				<li><a href="/aptitude/stocks_shares" class="anchor-class">Stocks & Shares</a></li>
                <hr>
				<li><a  href="/aptitude/permutation_combination" class="anchor-class" >Permutation & Combination</a></li>
                <hr>
				<li><a  href="/aptitude/probability" class="anchor-class">Probability</a></li>
                <hr>
				<li><a  href="/aptitude/oddman_out_series" class="anchor-class">Odd Man Out & Series</a></li>
            	<hr>
				<li><a href="/aptitude/surds_indices" class="anchor-class">Surds & Indices </a></li>
                <hr>
				<li><a  href="/aptitude/partnership" class="anchor-class" >Partnership</a></li>
                <hr>
				<li><a  href="/aptitude/chain_rule" class="anchor-class">Chain Rule</a></li>
                <hr>
				<li><a  href="/aptitude/heights_distances" class="anchor-class">Heights & Distances</a></li>
				<hr>
				<li><a  href="/aptitude/true_discount" class="anchor-class">True Discount</a></li>
				<hr>
				<li><a  href="/aptitude/banker_discount" class="anchor-class">Banker's Discount</a></li>
				<hr>
							</ul>
							<div class="read-more">
                                <a href="#!" class="btn btn-primary">Test Your Skills Now !</a>
                            </div>
				</div>
							
							
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-3" >
				
                dsddsdsds
             </div>
				
	
		</div>
</main>
<% include ../footer %>