<% include ../adminheader %>
<main style="padding-top:85px;">
        <!--Main layout-->
		
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h3-responsive"> 
                        <small class="text-muted">APTITUDE QUESTIONS & SOLUTIONS</small>
                    </h3>
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/selecttopic">Select Topic</a></li>
						<li class="breadcrumb-item active">Topics</li>
					</ol>
				
                </div>
            </div>
            <!--/.BreadCrumb with Title-->
            <div class="row">
                <!--First column-->
                <div class="col-md-9 unit-section">
                    <!--Card-->
                    <div class="card  z-depth-2">
					
					<!--Card Gradient-->
                        <div class="gradient" style="height:100px;padding-top:20px;">
									 APTITUDE CHAPTERS
                            
                                <div class="mask"></div>
                            
                        </div>
                        <!--/.Card Gradient---->

                        <!--Card content-->
                        <div class="card-block pad" >
						<div class="row ">
						<div class="col-md-6">
                            <ul>
                            <li><a href="aptitude/anumbers" class="anchor-class">Numbers </a></li>
							<hr>
							<li><a  href="/aptitude/ahcf_lcm"  class="anchor-class">H.C.F & L.C.M of Numbers</a></li>
							<hr>
							<li><a  href="/aptitude/adecimal_fractions" class="anchor-class">Decimal Fractions</a></li>
							<hr>
							<li><a  href="/aptitude/asimplifactions" class="anchor-class">Simplification</a></li>
            				<hr>
							<li><a href="/aptitude/asquare_cube_root" class="anchor-class">Square Roots & Cube Roots</a></li>
							<hr>
				
				<li><a  href="/aptitude/aaverage" class="anchor-class" >Average</a></li>
                <hr>
				<li><a  href="/aptitude/aages" class="anchor-class">Problems on Ages</a></li>
            	<hr>
				<li><a href="/aptitude/apercentage" class="anchor-class">Percentage </a></li>
                <hr>
				<li><a  href="/aptitude/aprofit_loss" class="anchor-class" >Profit & Loss</a></li>
                <hr>
				<li><a  href="/aptitude/aratio_proportion" class="anchor-class">Ratio and Proportion</a></li>
                <hr>
				<li><a  href="/aptitude/atime_work" class="anchor-class">Time & Work</a></li>
				<hr>
				<li><a  href="/aptitude/apipes_cistern" class="anchor-class">Pipes & Cistern</a></li>
				<hr>
				<li><a  href="/aptitude/atime_distance" class="anchor-class">Time & Distance</a></li>
                <hr>
				<li><a  href="/aptitude/atrains" class="anchor-class" >Problems on Trains</a></li>
                <hr>
				<li><a  href="/aptitude/aboats_streams" class="anchor-class">Boats & Streams</a></li>
                <hr>
				<li><a  href="/aptitude/aaligation_mixture" class="anchor-class">Aligation or Mixture</a></li>
				<hr>
				<li><a href="/aptitude/asimple_interest" class="anchor-class">Simple Interest</a></li>
				<hr>
							</ul>
							</div>

							<div class="col-md-6">
                            <ul>
                             <li><a  href="/aptitude/acompound_interest" class="anchor-class" >Compound Interest</a></li>
                <hr>
				<li><a  href="/aptitude/alogarithms" class="anchor-class">Logarithms</a></li>
                <hr>
				<li><a  href="/aptitude/aarea" class="anchor-class">Area</a></li>
            	<hr>
				<li><a href="/aptitude/avolume_surface_area" class="anchor-class">Volume & Surface Areas</a></li>
                <hr>
				<li><a  href="/aptitude/araces_game_skills" class="anchor-class" >Races & Games of Skill</a></li>
                <hr>
				<li><a  href="/aptitude/acalender" class="anchor-class">Calendar</a></li>
                <hr>
				<li><a  href="/aptitude/aclocks" class="anchor-class">Clocks</a></li>
          		<hr>
				<li><a href="/aptitude/astocks_shares" class="anchor-class">Stocks & Shares</a></li>
                <hr>
				<li><a  href="/aptitude/apermutation_combination" class="anchor-class" >Permutation & Combination</a></li>
                <hr>
				<li><a  href="/aptitude/aprobability" class="anchor-class">Probability</a></li>
                <hr>
				<li><a  href="/aptitude/aoddman_out_series" class="anchor-class">Odd Man Out & Series</a></li>
            	<hr>
				<li><a href="/aptitude/asurds_indices" class="anchor-class">Surds & Indices </a></li>
                <hr>
				<li><a  href="/aptitude/apartnership" class="anchor-class" >Partnership</a></li>
                <hr>
				<li><a  href="/aptitude/achain_rule" class="anchor-class">Chain Rule</a></li>
                <hr>
				<li><a  href="/aptitude/aheights_distances" class="anchor-class">Heights & Distances</a></li>
				<hr>
				<li><a  href="/aptitude/atrue_discount" class="anchor-class">True Discount</a></li>
				<hr>
				<li><a  href="/aptitude/abanker_discount" class="anchor-class">Banker's Discount</a></li>
				<hr>
							</ul>
							<div class="read-more">
                                <a href="#!" class="btn btn-primary">Test Your Skills Now !</a>
                            </div>
				</div>
							
							
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
				<div class="col-md-3" >
				
                dsddsdsds
             </div>
				
	
		</div>
</main>
<% include ../footer %>